/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  background: #23424a;
  color: white;
  padding: 2rem 0 2rem 20rem;
}

.intro-content {
  max-width: 50rem;
}

.other-container {
  margin: 0 auto;
  background: orange;
  color: white;
  padding: 2rem 0 2rem 20rem;
}

.other-content {
  max-width: 50rem;
}