*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.container {
  padding: 100px 0;

  background: #23424A;
  color: white;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.content__text {
  width: 80%;
}

.content p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  background: #38CFD9;

  padding: 0.75em 2em;
  border-radius: 100px;

  color: #23424A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;

  max-width: 19rem;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
