/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 60%;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container h2 {
    color: #87629A;
}

.three_cols {
    padding: 3em 0;
    text-align: center;
}

.three_cols h2 {
    color: #87629A;
}

.two_cols {
    background: #136C72;
    color: white;

    padding: 3em 0;
    text-align: center;
}

.two_cols h2 {
    color: white;
}

.row {
    display: flex;
}

.col {
}

/* does not work. why? */
.col + .col {
    margin-right: 2rem;
}